/*
=====================================================================
*   Tarefa: T6 - Trabalho de Grupo
*   UFCD: 5415 - WEB - hipermédia e acessibilidades
*   Turma: TPSI PL 1223
*   Formador: Rute Solipa
*   Formandos: Leila Arruda, Lucas Patrício, Olesea Vulpe, Rúben Fonseca
===================================================================== */
body{
    background-color: aliceblue;
}

header{
    background-color: black;
}

/*-------------- Header ----------------- */

#titulo{
    color: rgba(240, 248, 255, 0.63);
    font-size: 10rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }

/*section{
    height: 650px;
    background-color: aliceblue;
    border-style: solid;
    border-width: 3px;
    border-color: #09090a;
}*/

/*-------Section 1: O que é cibersegurança -------- */

#section_1, #section_5{
    color: rgba(246, 248, 251, 0.736);
    background-color: #00181e;
    text-align: center;
        p {font-size: 1.5rem;}    
}

#titulo_1{
    color: #7f6a34; 
    font-size: 3rem;
}

/*-------Section 2: Os quatro pilares -------- */

.pic {
    width: 100%;
}

/*-------Section 3: Accordion ---------------- */

#section_3{
    background-color: #00181e;
}

.accordion {
    --bs-accordion-bg: aliceblue;
    --bs-accordion-btn-bg: aliceblue;
}

.accordion-button{
    color: #00181e;
    font-size: 1.5rem;
    --bs-accordion-btn-color: aliceblue;
    --bs-accordion-active-color: aliceblue;
    --bs-accordion-active-bg: #00181e;
    --bs-accordion-btn-focus-box-shadow: none;
}

/*--Section 4: Os profissionais de cibersegurança - */

#section_4 {
    text-align: center;
        .bi{
            color:#7f6a34;
            font-size: 2rem;
        }
        .row{
            text-align: left;
        }
}

.pics{
    width: 100%;
}

/*-------Section 5: Habilidades ------------- */

#section_5 li{ text-align: left;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #7f6a34;
    
}

.nav {--bs-nav-link-hover-color: none;}
.nav-link{ color: #7f6a34;}

.nav-pills {
    color: #7f6a34;
    width: 25rem;
}

#section_5 .d-flex {
    justify-content: center;
}

/*-------Footer ---------------------------- */

footer{
    background-color: rgb(189, 195, 200) ;
}

